// Display components
@use "sass:map";
@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

// Displays
.money-display {
  background-color: map.get($backgrounds, off-white);
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: map.get($colors, primary);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
}

body.dark {
  .money-display {
    background-color: map.get($backgrounds, dark);
    color: map.get($colors, light);
  }
}

.playtime-display {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: map.get($colors, text-dark);
  margin-top: -20px;
  margin-bottom: 25px;
  opacity: 0.8;
}

// Environment Labels
.env-label {
  border-radius: 25px;
  font-size: 0.5em;
  font-weight: 400;
  margin-left: 10px;
  opacity: 0.6;
  padding: 4px 8px 6px 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: super;
  
  &.localhost {
    color: map.get($colors, accent);
    background-color: map.get($backgrounds, lighter-blue);
    cursor: pointer;

    &.easy {
      color: map.get($colors, warning);
      font-weight: bold;
    }
  }
}

// Icons
.spinning-icon {
  animation: spin 1.5s linear infinite;
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}

.check-icon {
  width: 18px;
  height: 18px;
}