.prestige-pulse {
  display: inline-flex;
  animation: prestige-pulse 0.9s infinite;
  overflow: visible;
}

@keyframes prestige-pulse {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 2px gold);
  }
  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px gold);
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 2px gold);
  }
}

.header-icon {
  position: relative;
  /* Verhindert iOS-spezifische Touch-Behaviors */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;

    .notification-badge {
    position: absolute;
    top: 0;
    right: 2px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
  }

  .active-badge {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: rgba(46, 204, 113, 0.8);
    border-radius: 50%;
    // border: 1px solid white;
    animation: active-badge-pulse 1.5s infinite;
  }

  .badge-yellow {
    background-color: rgba(241, 198, 29, 0.95); // yellow
    animation: badge-yellow-pulse 1.5s infinite;
  }
}

@keyframes active-badge-pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 4px rgba(46, 204, 113, 0.4);
  }
  50% {
    transform: scale(1.15);
    box-shadow: 0 0 15px rgba(39, 174, 96, 0.5);

@keyframes badge-yellow-pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 4px rgba(241, 198, 29, 0.4);
  }
  50% {
    transform: scale(1.15);
    box-shadow: 0 0 15px rgba(241, 198, 29, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 4px rgba(241, 198, 29, 0.4);
  }
}
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 4px rgba(46, 204, 113, 0.4);
  }
}
