// Animationen
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  // Animation für Spinning Icon
  .spinning-icon {
    animation: spin 1.5s linear infinite;
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
  }
  
  // UpgradeTabs Fade-In Animation
  .upgrade-tabs-fade {
    animation: fadeIn 0.4s ease;
  }
  
  // ClickerButtons Fade-In Animation
  .clicker-buttons-fade {
    animation: fadeIn 0.4s ease;
  }